<!doctype html>
<html lang="en" dir="ltr">
	<head>

		<!-- META DATA -->
		<meta charset="UTF-8">
		<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="Project 2">
		<meta name="author" content="Rowdy Roosters">
	
		<!-- TITLE -->
		<title>Rowdy Roosters - Project 2</title>

		<!-- BOOTSTRAP CSS -->
		<link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

		<!-- STYLE CSS -->
		<link href="../assets/css/style.css" rel="stylesheet"/>
		<link href="../assets/css/dark-style.css" rel="stylesheet"/>
		<link href="../assets/css/skin-modes.css" rel="stylesheet" />

		<!--C3 CHARTS CSS -->
		<link href="../assets/plugins/charts-c3/c3-chart.css" rel="stylesheet"/>

		<!-- COLOR SKIN CSS -->
		<link id="theme" rel="stylesheet" type="text/css" media="all" href="../assets/colors/color1.css" />

	</head>


	<body class="dark-mode">

                <!--app-content open-->
				<div class="app-content hor-content">
					<div class="container">

					<!-- PAGE-HEADER -->
					<div class="page-header">
						<div>
							<h1 class="page-title">World Poverty Rate Vs. USA Foreign Aid</h1>
						</div>
					</div>
					<!-- PAGE-HEADER END -->

			        <!-- ROW-1 -->
					<div class="row">
						<div class="col-lg-6 col-md-12">
							<div class="card">
								<div class="card-header">
									<h3 class="card-title">Sales Growth in every Month</h3>
								</div>
								<div class="card-body">
									<div id="chart-employment" class="chartsh"></div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-12">
							<div class="card">
								<div class="card-header">
									<h3 class="card-title">Line Chart 1</h3>
								</div>
								<div class="card-body">
									<div id="chart-sracked" class="chartsh"></div>
								</div>
							</div>
						</div>
					</div>
					<!-- ROW-1 CLOSED -->

					<!-- ROW-2 -->
					<div class="row">
						<div class="col-lg-6 col-md-12">
							<div class="card">
								<div class="card-header">
									<h3 class="card-title">Line chart 2</h3>
								</div>
								<div class="card-body">
									<div id="chart-spline-rotated" class="chartsh"></div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-12">
							<div class="card">
								<div class="card-header">
									<h3 class="card-title">Line Chart 3</h3>
								</div>
								<div class="card-body">
									<div id="chart-temperature" class="chartsh"></div>
								</div>
							</div>
						</div>
					</div>
					<!-- ROW-2 CLOSED -->
				</div>
				</div>
				<!-- CONTAINER CLOSED -->
			</div>

			<!-- FOOTER -->
			<footer class="footer">
				<div class="container">
					<div class="row align-items-center flex-row-reverse">
						<div class="col-md-12 col-sm-12 text-center">
							 Published 08/11/2021.<a href="#"> Home</a>.
						</div>
					</div>
				</div>
			</footer>
			<!-- FOOTER CLOSED -->

			<!-- JQUERY JS -->
			<script src="../assets/js/jquery.min.js"></script>

			<!-- BOOTSTRAP JS -->
			<script src="../assets/plugins/bootstrap/js/popper.min.js"></script>
			<script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>

			<!-- SPARKLINE JS-->
			<script src="../assets/js/jquery.sparkline.min.js"></script>

			<!-- CHART-CIRCLE JS-->
			<script src="../assets/js/circle-progress.min.js"></script>

			<!-- C3CHART JS -->
			<script src="../assets/plugins/charts-c3/d3.v5.min.js"></script>
			<script src="../assets/plugins/charts-c3/c3-chart.js"></script>

			<!-- C3 LINE-CHART JS -->
			<script src="../assets/js/charts.js"></script>

			<!-- INPUT MASK JS-->
			<script src="../assets/plugins/input-mask/jquery.mask.min.js"></script>

			<!--HORIZONTAL JS-->
			<script src="../assets/plugins/horizontal-menu/horizontal-menu.js"></script>

			<!-- STICKY JS -->
			<script src="../assets/js/stiky.js"></script>

			<!-- SIDEBAR JS -->
			<script src="../assets/plugins/sidebar/sidebar.js"></script>

			<!-- Perfect SCROLLBAR JS-->
			<script src="../assets/plugins/p-scroll/perfect-scrollbar.js"></script>
			<script src="../assets/plugins/p-scroll/pscroll-1.js"></script>

			<!-- CUSTOM JS-->
			<script src="../assets/js/custom.js"></script>	

	</body>
</html>